.project-card {
  width: 60%;
  margin: 10px auto;
}

@media (max-width: 991px) {
  .project-card {
    width: 100%;
    margin: 10px 0;
  }
}

.project-container {
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 991px) {
  .project-container {
    flex-direction: column;
  }
}

@keyframes darkGradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scrolling {
  from {
    opacity: 0;
    transform: translatex(-250px);
  }
  to {
    opacity: 1;
    transform: translatex(0px);
  }
}

.project-img-contant {
  width: 40%;
  display: flex;
  margin: auto 0;
}
@media (max-width: 991px) {
  .project-img-contant {
    width: 100%;
  }
}

.project-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

.project-details {
  width: 60%;
  text-align: center;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 991px) {
  .project-details {
    width: 100%;
  }
}

.project-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
